<h1>{{title}}</h1>
<div style="width: 100%; height: 20px; background: {{css}}"></div>
<ul>
	{{#each data}}
		<li>Value: {{value}}, Color: <span style="display: inline-block; width: 20px; height: 20px; background:{{color}}"></span></li>
	{{/each}}
</ul>